@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: black;

}

.offset:before {
  display: block;
  content:"";
  height: 4rem;
  margin-top: -4rem;
}

.home-inner {
  background-image: url(img/backgrounds/h_img.jpg);
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}
.caption h4 {
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: .3rem;
}
.caption p {
  font-size: 0.8rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}

.btn-lg { 
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}

.narrow {
  width: 75%;
  margin: 1.5rem;
  padding-top: 2rem;
}
.narrow h1 {
  font-size: 1.4rem;
}
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: .6rem 1.2rem;
  margin: 1rem;
  color: white;
  background-color: #1ebba3;
  border-color: #1ebba3;
}
.btn-secondary:hover {
  background-color: #189582;
  border-color: #1ebba3;
}
/*--- Services ---*/
.fixed-background {
  background-image: url(img/backgrounds/s_image.jpg);
  text-align: center;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}
.fixed-background h4 {
  margin-bottom: 3rem;
  color: white; 
}
.fixed-background p {
  margin-top: 2.6rem;
  color: white;
  font-size: medium;
}
/*--- Portfolio ---*/
.container1 {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.container:hover .overlay {
  opacity: 0.5;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/*--- Contact Section ---*/
.fixed-background1 {
  background-image: url(img/backgrounds/c_image.jpg);
  text-align: center;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}
.contact title {
  margin-top: 100px;
  color: #fff;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}
.contact title h2 {
  font-size: 32px;
  line-height: 10px;
}
form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}
.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  margin-bottom: 16px;
}
input {
  height: 45px;
}
form .submit {
  background: greenyellow;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}
form .submit:hover {
  background-color: lawngreen;
  cursor: pointer;
}
/*--- Logo Section ---*/
.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;

}
h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
}
.heading-underline {
     width: 10rem;
     height: .4rem;
     background-color: greenyellow;
     margin: 0 auto 2rem;
}
.feature svg.svg-inline--fa {
  color: greenyellow;
}
.feature h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
}
.featue p {
  font-size: 1.1rem;
}

footer {
  background-color: darkslategray;
  color: white;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
}
footer img {
  height: 3rem;
  margin: 1.5rem 0;
}
footer a {
  color: white;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover {
  color: #1ebba3!important;
}
hr.socket {
  width: 100%;
  border-top: .2rem solid #666b71;
  margin-top: 3rem;
}



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
